<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527660394179-f3ltieek23qlsfohe286jqcgn6sur81a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527660394179-f3ltieek23qlsfohe286jqcgn6sur81a</string>
	<key>API_KEY</key>
	<string>AIzaSyDCOcLthilD0jJC4vmYhyfAYGfAWJCljBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>527660394179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.januaryone9999.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instgram-ios-storyboard</string>
	<key>STORAGE_BUCKET</key>
	<string>instgram-ios-storyboard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527660394179:ios:3eb32ff79ac44c60c82476</string>
</dict>
</plist>